/* root elements */
html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url('assets/img/mario-bg.jpg');
  background-size: cover;
}

section {

}

/* */

.all {
  margin:0 auto;
  max-width: 320px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 30%;
  width: 40%;
  height: 50%;
}

.section__content {

}
.section__form {

}


.login__input {
  width: 100%;

}
.login__btn {

}

.login__warn {

}
.login__ {

}
